*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 1170px;
    margin: 0px auto;
}
.inner_div{
    /* width: 1320px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.box1{
    flex-basis: 32%;
    margin:7px;
    position: relative;
    
    border-radius: 10px;
    overflow: hidden;
}

.img1{
    width: 100%;
    height: 100%;
}

.box1:hover img{
    transform: scale(1.2);
    transition: 0.5s;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    padding: 15px;
    color: white;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
   
    
}
.box1:hover .content{
    opacity: 1;
    transition: 2s;

   
}
button{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: rgb(4, 86, 201);
    margin: 5px;
    cursor: pointer;
}