*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
}
.main{
    display: grid;
    /* background: rgb(231, 164, 164); */
    width: 1320px;
    margin: 0px auto;
    grid-template-areas: 
    "header header header header header header"
    "sidebar product product product product product"
    "sidebar product product product product product"
    "footer footer footer footer footer footer";
}
.myn{
    height: 10px;
    /* background-color: rgb(167, 221, 243); */
}
.header{
    grid-area: header;
    /* height: auto; */
    
}
.sidebar{
    grid-area: sidebar;
    /* height: auto; */
    width: 30%;
  
}
.product{
    grid-area: product;
    height: auto;
  
}
.footer{
    grid-area: footer;
    height: auto;
 
}

.container{
    grid-template-columns: repeat(5,1fr);
    display: grid;
}

.teshirt{
    border: 1px solid red;
    width: 220px;
    overflow: hidden;
   cursor: pointer;
}

.teshirt figure{
    height: 240px;
    width: 220px;
    overflow: hidden;
    position: relative;
}

.teshirt figure img{
    width: 100%;
    height: 100%;
   
}

.product_info{
    padding: 10px 5px;
    /* height: 100px; */
    border: 1px solid black;
}
.product_info .info h5{
    font-size: 18px;
    margin-bottom: 5px;
}

.product_info .info span{
    font-size: 15px;
    margin-bottom: 55px;
    color: rgb(63, 62, 62);
}

.product_info .info {
    margin-bottom: 7px;
}


.price span:nth-child(1){
   font-size: 15px;
   font-weight: 700;
}

.price span:nth-child(2){
   font-size: 15px;
   /* font-weight: 700; */
   color: grey;
   text-decoration: line-through;
}

.price span:nth-child(3){
   font-size: 15px;
   /* font-weight: 700; */
   color: orange;
   
}

.rating{
    background-color:#FFFFFF80 ;
    display: inline;
    font-size: 10px;
    position: absolute;
    top: 220px;
    left: 10px;
    font-weight: 700;
}

.rating span:nth-child(2){
    color: rgb(25, 171, 25);
}

.wish_list{
    display: none;
    /* height: 500px; */


}

.wish_list>p{
    font-size: 14px;
    color: rgb(105, 104, 104);
}

.wish_list>button{
    padding: 8px 67px;
    text-align:center;
    margin-left: 2px;
    background-color: white;
    font-weight: 600;
    border: 1px solid rgb(225, 222, 222);
    cursor: pointer;
}
.teshirt:hover .info{
    display: none;
}

.teshirt:hover .wish_list{
    display: block;
    cursor: pointer;
}

