*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    max-width: 1320px;
    margin: auto;
}

.main h1{
    text-align: center;
    margin: 30px;
}
.gallery{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.gallery_item{
    border: 1px solid black;
    border-radius: 10px;
       overflow: hidden;
}
.gallery .gallery_item:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  
  
}
.gallery_item img{
    width: 100%;
    border-radius: 10px;
   
}

.gallery_item p{
    text-align: center;
    padding: 20px;
    line-height: 25px;
    font-size: 18px;
}

.span2 {
    grid-column-end: span 2;
}

.span3 {
    grid-row-end: span 3;
}