*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    padding: 0px 40px;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #ccc;
    justify-content: space-between;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 15px 25px;
}

header nav ul li a{  
    color: black;
}
#micon{
    display: none;
}
